body {
    background-color: #222;
    color: #bbb;
    font-family: "Courier New", Courier, monospace;
    margin: 40px 15px;

    a {
        color: lightblue;

        &:hover {
            color: #eee;
        }
    }

    button,
    .button-link {
        width: fit-content;
        background-color: #222;
        border: 1px solid #ccc;
        color: #eee;
        font-size: 1rem;
        margin: 10px auto;
        padding: 6px 12px;
        text-decoration: none;

        &:hover {
            background-color: #ccc;
            color: #222;
            cursor: pointer;
        }
    }

    button,
    input,
    textarea,
    #content {
        appearance: none;
        font-family: "Courier New", Courier, monospace;
        line-height: 1.2rem;
    }

    footer,
    header {
        text-align: center;
    }

    form {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;

        &#post > *:not(button) {
            width: 100%;
        }

        button[type="submit"] {
            font-weight: bold;
        }

        input,
        textarea,
        #content {
            background-color: #444;
            border: 0;
            color: #eee;
            font-size: 1rem;
        }

        input[type="datetime-local"] {
            width: fit-content;
        }

        label {
            text-align: center;
        }

        textarea,
        #content {
            height: 600px;
        }

        #content {
            overflow: auto;

            & span {
                &:hover {
                    cursor: pointer;
                }

                & s {
                    font-style: italic;
                    color: lightgreen;
                }

                & b {
                    color: lightsalmon;
                }
            }
        }
    }

    h1 {
        margin-bottom: 10px;
    }

    main {
        max-width: 700px;
        margin: auto;
    }

    ul {
        max-width: 550px;
        color: #888;
        margin: 10px auto;

        li {
            padding-bottom: 10px;

            button {
                appearance: none;
                border: 0;
                padding: 0;
                text-align: left;
                text-decoration: underline;

                &:hover {
                    cursor: pointer;
                }
            }

            small.date {
                font-style: italic;
            }
        }
    }

    .warning {
        color: red;
        text-align: center;
    }
}
